<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:box-shadow="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="background-color:#eee;">
    <div
        style="background-color:#eee;margin:0;padding:0;font-family:Roboto,Arial,sans-serif;font-weight:500;color:#F0F0F0;font-size:16px;">
        <table style="width: 100%; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr style="font-size: 14px; color:#545f75">
                    <td>&nbsp;</td>
                    <td style="width: 600px;">
                        <table style="width: 100%; border-collapse: collapse;background-color: #fff;" border="0"
                            cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="padding: 10px 0; text-align: center;background-color:#fff;">
                                            <div><img
                                                    src="https://4prosper.in/wp-content/uploads/2020/05/logo-removebg-preview-300x221.png"
                                                    alt="4prosper_logo" width="150" /></div>
                                        </div>
                                        <div>
                                            <div style="padding: 50px 50px;">
                                                <p style="margin: 0 0 45px;">Hi {{receiverName}}.</p>
                                                <p style="margin: 20px 0;">{{purpose}}</p>

                                                <div
                                                    style="border-style: dotted;border-radius:4px;border-color:#6F3FBA;border-width:2px;text-align: center;position: relative;">
                                                    <p
                                                        style="font-size: 24px;font-weight: bold;margin: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                                                        {{scheduleSubject}} - By: {{teacherName}}
                                                        <br>
                                                        {{scheduleDate}} {{scheduleTime}}
                                                    </p>

                                                </div>
                                                <p style="margin: 20px 0 0;">Please, don't forget to join the above
                                                    schedule on time.</p><br />
                                                <div style="margin: 0;">
                                                    <p style="margin:0; line-height: 150%;">Thank you,<br />{{orgName}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr style="color: white; text-align: center;">
                    <td>&nbsp;</td>
                    <td style="">
                        <div style="color: #172032; line-height: 1.5; margin: 25px 0; font-size: 14px;">&copy; 4prosper
                            : 2020


                            <br />Privacy Policy</div>
                    </td>
                    <td>&nbsp;</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>